# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [4]:
import pandas as pd

# 1. Series
- pandas는 2차원 데이터를 쉽게 다룰 수 있는데 여기서 1차원 데이터만큼을 series라고 부른다
- 정수 실수 문자열 등이 포함된다.

## Series 객체 생성
예) 1월부터 4월까지 평균 온도 데이터 (-20, -10, 10, 20)

In [5]:
temp = pd.Series([-20, -10, 10, 20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [6]:
temp[0] # 1월 온도

-20

In [7]:
temp[2] # 3월 온도

10

# Series 객체 생성(Index 지정)

In [8]:
temp = pd.Series([-20, -10, 10, 20],  index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [10]:
temp['Apr'] # Index Apr에 해당하는 데이터 출력

20